# Laravel core directories
/node_modules
/public/hot
/public/storage
/storage/app/public/uploads
/storage/app/public/tmp
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs

# Laravel environment files
.env
.env.*
.env.backup

# PHPUnit
.phpunit.result.cache

# OS and Editor specific
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea

# Composer and NPM debug files
yarn.lock
npm-debug.log
pnpm-debug.log

# Build artifacts (ignore if compiled locally)
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css

# Debugbar
/storage/debugbar
/public/_debugbar